* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*
@font-face {
    font-family: 'brandon_grotesqueuno';
    src: url('fonts/brandon_grotesque/brandon_bld_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandon_grotesque/brandon_bld-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandon_grotesque/brandon_blk_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('fonts/brandon_grotesque/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquelight_italic';
    src: url('fonts/brandon_grotesque/brandon_light_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('fonts/brandon_grotesque/brandon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesqueMdIt';
    src: url('fonts/brandon_grotesque/brandon_med_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandon_grotesque/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('fonts/brandon_grotesque/brandon_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('fonts/brandon_grotesque/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquethin_italic';
    src: url('fonts/brandon_grotesque/brandon_thin_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('fonts/brandon_grotesque/brandon_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

body {
    margin: 0;
    /*    padding: 50px;*/
    font-family: brandon grotesque, sans-serif;
    color: #222;
}

p {
    margin: 0;
}

/*
.logo-icon {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 20px solid #222;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0 0 30px;
}
*/

.logo {
    margin: 0;
    padding: 0;
    float: left;
    line-height: 49px;
}

.nav {
    float: right;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    /*    text-decoration: line-through;*/
    color: #222;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 500;
    float: left;
}

#container {
    overflow: auto;
}

/*-PHONE-*/

@media (max-width: 768px) {
    #container {
        margin: 20px;
    }
    body {
/*        background: orange;*/
    }
    header {
        padding: 20px;
        transition: all .3s ease-out;
    }
    .nav {
        display: none;
    }
    .menu {
        margin: 27px 20px 28px 20px;
        transition: all .3s ease-out;
    }
    #hero {
        font-size: 40px;
        line-height: 57px;
        padding-bottom: 140px;
    }
    .button a {
        font-size: 20px;
    }
}

/*---PHONE---*/
/*
@media screen and (max-width: 768px) and (min-width: 450px) {
    #container {
        margin: 30px;
    }
    body {
        background: purple;
    }
    header {
        padding: 30px;
        transition: all .3s ease-out;
    }
    .nav {
        display: none;
    }
    .menu {
        margin: 37px 30px 38px 30px;
        transition: all .3s ease-out;
    }
    #hero:first-of-type {
        font-size: 44px;
        line-height: 63px;
    }
    #hero {
        font-size: 44px;
        line-height: 63px;
        padding-bottom: 140px;
    }
    #hero:last-of-type {
        padding-bottom: 140px;
    }
    .button a {
        font-size: 30px;
    }
}
*/
/*---TABLET---*/

@media (max-width: 1068px) and (min-width: 768px) {
    #container {
        margin: 50px;
    }
    body {
/*        background: blue;*/
    }
    header {
        padding: 50px;
        transition: all .3s ease-out;
    }
    .menu {
        display: none;
        transition: all .3s ease-out;
        margin: 47px 50px 48px 50px;
    }
    #hero {
        font-size: 75px;
        line-height: 108px;
        padding-bottom: 140px;
    }
    .button a {
        font-size: 40px;
    }
}

/*---DESKTOP---*/

@media (min-width: 1068px) {
    #container {
        margin: 50px;
    }
    body {
/*        background: lightblue;*/
    }
    header {
        padding: 50px;
        transition: all .3s ease-out;
    }
    .menu {
        display: none;
        transition: all .3s ease-out;
        margin: 47px 50px 48px 50px;
    }
    #hero {
        font-size: 150px;
        padding-bottom: 140px;
        clear: both;
    }
    .button a {
        font-size: 50px;
    }
}

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/

#work h2 {
    text-transform: uppercase;
    color: #222;
    font-size: 20px;
    text-align: left;
    /*    font-weight: 500;*/
}

#text {
    clear: both;
}

.project1 {
    width: 45%;
    float: left;
}

.project2 {
    width: 45%;
    float: right;
}

.antilop1 {
    width: 100%;
    float: left;
}

.antilop2 {
    width: 100%;
    float: right;
}

footer {
    background: #222;
    padding: 20px 20px;
    color: #fff;
    text-align: center;
    bottom: 0;
    overflow: auto;
}

header {
    background: #fff;
/*    background: red;*/
    position: sticky;
    top: 0;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
}

ul li {
    display: -webkit-inline-box;
    margin: 0;
    padding: 10px 0;
    /*    background: blue;*/
}

ul li a {
    cursor: pointer;
    color: #222;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    /*    line-height: 2.5;*/
}

.menu {
    width: 30px;
    height: 34px;
    z-index: 100 !important;
    transition: all .3s ease-out;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
}

.bar {
    background-color: #222;
    /*    width: 30px;*/
    height: 2px;
    margin: 7px 0;
}

.button {
    padding-top: 75px;
    margin: 0;
}

.button a {
    color: white;
    text-decoration: none;
    /*font-size: 50px;*/
    margin: 0;
    padding: 0;
    background-color: #0284A8;
    border-radius: 5px;
    padding: 20px 60px;
    text-align: left;
    margin: 0;
    transition: all .3s ease-out;
}

.button a:hover {
    background-color: #025c75;
    /*    border-radius: 20px;*/
    transition: all .3s ease-out;
}