body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	font-family: Brandon Grotesque, sans-serif;
}

h1 {
	margin: 0;
	padding-top: 50px;
	text-align: center;
	color: #212121;
	font-size: 100px;
	font-weight: 300;
}